In [ ]:
Imputation and Label encoding using Traffic Police Data?

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
import seaborn as sns
df=pd.read_csv('police.csv')
df.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [62]:
print(df.columns)
df.shape

Index(['stop_date', 'stop_time', 'county_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

(91741, 15)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [64]:
df.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [65]:
# cleaning data
df1=df.drop(columns=['county_name','search_type','violation','driver_age_raw'])
df1

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,20.0,White,Speeding,False,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,40.0,White,Speeding,False,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,33.0,White,Speeding,False,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,19.0,White,Call for Service,False,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,21.0,White,Speeding,False,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,29.0,White,Speeding,False,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,F,33.0,White,Equipment/Inspection Violation,False,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,M,23.0,White,Other Traffic Violation,False,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,M,22.0,White,Speeding,False,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,M,56.0,Hispanic,Speeding,False,Citation,False,0-15 Min,False

In [66]:
df1.dtypes

stop_date              object
stop_time              object
driver_gender          object
driver_age            float64
driver_race            object
violation_raw          object
search_conducted         bool
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [67]:
# converting date and time
df1['stop_date']= pd.to_datetime(df1.stop_date)
df1['stop_time']= pd.to_datetime(df1.stop_time)
df1.dtypes

stop_date             datetime64[ns]
stop_time             datetime64[ns]
driver_gender                 object
driver_age                   float64
driver_race                   object
violation_raw                 object
search_conducted                bool
stop_outcome                  object
is_arrested                   object
stop_duration                 object
drugs_related_stop              bool
dtype: object

In [ ]:
#imputation of data

In [68]:
df1['driver_gender'].unique()

array(['M', 'F', nan], dtype=object)

In [69]:
#removing null values 
MD=df1['driver_gender'].mode()
MD

0    M
Name: driver_gender, dtype: object

In [70]:
df1['driver_gender'].fillna(df1['driver_gender'].value_counts().index[0], inplace=True)

In [71]:
df1['driver_gender'].unique()

array(['M', 'F'], dtype=object)

In [72]:
df1['is_arrested'].unique()

array([False, True, nan], dtype=object)

In [73]:
MD=df1['driver_race'].mode()
MD
df1['driver_race'].fillna(df1['driver_race'].value_counts().index[0], inplace=True)
df1['driver_race'].unique()


MD=df1['violation_raw'].mode()
MD
df1['violation_raw'].fillna(df1['violation_raw'].value_counts().index[0], inplace=True)
df1['violation_raw'].unique()


MD=df1['driver_age'].mode()
MD
df1['driver_age'].fillna(df1['driver_age'].value_counts().index[0], inplace=True)
df1['driver_age'].unique()


MD=df1['stop_outcome'].mode()
MD
df1['stop_outcome'].fillna(df1['stop_outcome'].value_counts().index[0], inplace=True)
df1['stop_outcome'].unique()


MD=df1['stop_duration'].mode()
MD
df1['stop_duration'].fillna(df1['stop_duration'].value_counts().index[0], inplace=True)
df1['stop_duration'].unique()


MD=df1['is_arrested'].mode()
MD
df1['is_arrested'].fillna(df1['is_arrested'].value_counts().index[0], inplace=True)
df1['is_arrested'].unique()

array([False,  True])

In [74]:
# checking for missing values
df1.isnull().sum()

stop_date             0
stop_time             0
driver_gender         0
driver_age            0
driver_race           0
violation_raw         0
search_conducted      0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
dtype: int64

In [ ]:
#Label encoding

In [75]:
encoder = LabelEncoder()

In [79]:
df1['driver_gender'] = encoder.fit_transform(df1['driver_gender'])
df1['driver_race'] = encoder.fit_transform(df1['driver_race'])
df1['violation_raw'] = encoder.fit_transform(df1['violation_raw'])
df1['stop_outcome'] = encoder.fit_transform(df1['stop_outcome'])
df1['search_conducted'] = encoder.fit_transform(df1['search_conducted'])
df1['is_arrested'] = encoder.fit_transform(df1['is_arrested'])
df1['stop_duration'] = encoder.fit_transform(df1['stop_duration'])
df1['drugs_related_stop'] = encoder.fit_transform(df1['drugs_related_stop'])

In [80]:
df1.head()

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,2022-09-23 01:55:00,1,20.0,4,8,0,2,0,0,0
1,2005-01-18,2022-09-23 08:15:00,1,40.0,4,8,0,2,0,0,0
2,2005-01-23,2022-09-23 23:15:00,1,33.0,4,8,0,2,0,0,0
3,2005-02-20,2022-09-23 17:15:00,1,19.0,4,1,0,0,1,2,0
4,2005-03-14,2022-09-23 10:00:00,0,21.0,4,8,0,2,0,0,0